# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Data files (اگر دیتاست بزرگ است)
*.csv
*.xlsx
!data.csv

# Models
*.h5
*.pkl
*.joblib
models/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.